
.pizzaImg{
    height:300px;
    width: auto;
}
.userMsgCritical{
    color:red;
}
.userMsgSuccess{
    color:green;
}
.orderForm{    
    position: fixed;
    display: none;
    background-color: #ddd;
    top: 80px;
    right: 500px;
    width:1500px;
    max-width:768px;
    border:1px solid #ddd;
    padding:3vw;
    flex-direction:column;
    border-radius:5px;
}
  
  .basket {
    position: fixed;
    display:none;
    top: 80px;
    right: 0;
    width: 50px;
    height: auto;
    border: 3px solid #73AD21;
  }